
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  body{
      background: #F7F7F7;
  }
  
  .header__menu {
      text-align: center;
      padding: 0 60px;
      height: 60px;
    background-color: #c8e3d4;
    
  }
  
  .header__menu ul li {
    padding-top: 10px;
      list-style: none;
      display: inline-block;
      margin-right: 80px;
      position: relative;
  }
  
  .header__menu ul li.active a:after {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
  }
  
  .header__menu ul li:hover a:after {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
  }
  
  .header__menu ul li:last-child {
      margin-right: 0;
  }
  
  .header__menu ul li a {
      font-size: 23px;
      color: black;
      display: block;
      position: relative;
      padding: 3px 0;
    text-decoration: none;
  }
  .header__menu ul li a span{
    font-weight: bold;
  }
  
  .header__menu ul li a:after {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: black;
      content: "";
      -webkit-transition: all, 0.5s;
      -o-transition: all, 0.5s;
      transition: all, 0.5s;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
  }
  
  .container{
      margin-top: 100px;
      margin-bottom: 50px;
  }
  #topic3{
    display: none;
  }
  #topic4{
    display: none;
  }
  .showmore{
      text-align: center;
      font-size: 30px;
  }
  .showmore button{
      width: 200px;
      height: 50px;
      border: none;
      background-color: #c8e3d4;
      border-radius: 10px;
  }
  .row{
      margin-bottom: 30px;
      padding-right: 50px;
     
  }
  .search{
      
      margin-left: 300px;
      height: 100px;
  }
  .search .form-search{
    
    height: 40px;
    display: inline;
    border: 1px solid black;
    background: none;
    border-radius: 10px;
    padding-left:  20px; 
    width: 400px;
    padding-right: 20px;
  }
.form-search:focus {
    border: 1px solid #f4d5cc; 
}
.form-search::-webkit-input-placeholder {
    color: #999;
}
.form-search::-moz-placeholder {
    color: #999; 
}
.form-search:-ms-input-placeholder {
    color: #999; 
}
.form-search:-moz-placeholder {
    color: #999; 
}
.btn-search{
    background-color: #FF9292;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 40px ;
    font-size: 14px;
}
.search img{
      width: 20px;
  }


  .topic-container h3{
      font-weight: 500;
  }
.topic-container p{
    font-size: 18px;
}
.pic-menu{
     width: 100%;
     height: 150px;
     border-radius: 10px;
 }

