* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: #f7f7f7;
}

.Mcontainer {
  position: absolute;
  z-index: 2;
  margin-top: 60px;
}

.header__menu {
  width: 100%;
  height: 60px;
  background-color: #c8e3d4;
  margin-top: 0;
}

.hot-tag {
  background-color: white;
}

.hot-tag .nav-tag {
  margin-bottom: 15px;
}

.header__menu .menu-ul {
  margin-left: 8%;
}
.header__menu ul li {
  padding-top: 10px;
  list-style: none;
  display: inline-block;
  padding-right: 5%;
  padding-left: 5%;
}

.hot-tag .nav-tag a {
  color: blue;
}

.header__menu ul li.active a:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.header__menu ul li:hover a:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.header__menu ul li:last-child {
  margin-right: 0;
}

.header__menu ul li .menu-item {
  font-size: 23px;
  color: black;
  display: block;
  position: relative;
  padding: 3px 0;
  text-decoration: none;
}
.header__menu ul li a span {
  font-weight: bold;
}

.header__menu ul li .menu-item:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: black;
  content: "";
  -webkit-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.header__menu .btn_menu {
  position: absolute;
  top: 0;
  left: 15px;
  margin-left: 0;
}

.header__menu .btn_account {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  top: 0;
  right: 30px;
}

/* Het code menu neeee */

.navbar {
  font-size: 20px;
  width: 250px;
  height: 100%;
  background-color: #c8e3d4;
  position: fixed;
  display: inline-block;
  top: 0;
  left: -300px;
  justify-content: center;
  align-items: center;
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
}
.navbar img {
  width: 59%;
  position: absolute;
  left: 50px;
  top: 30px;
}

.hamburger-menu {
  width: 35px;
  height: 30px;
  position: fixed;
  top: 15px;
  left: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #c8e3d4;
}

.line {
  width: 100%;
  height: 3px;
  background-color: black;
  transition: all 0.8s;
}
.change .line-1 {
  transform: rotateZ(-405deg) translate(-8px, 6px);
}
.change .line-3 {
  transform: rotateZ(405deg) translate(-8px, -6px);
}
.change .line-2 {
  opacity: 0;
}

.nav-list {
  text-align: center;
  margin-top: 200px;
}
.nav-item {
  list-style: none;
  margin: 25px;
}
.nav-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  position: relative;
  padding: 2px 0;
}
.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: chocolate;
  position: absolute;
  right: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.nav-link::after {
  bottom: 0;
  transform-origin: right;
}
.nav-link::before {
  top: 0;
  transform-origin: left;
}
.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}
.change {
  left: 0;
}

.has-submenu {
  position: relative;
  z-index: 200;
}

.has-submenu:hover .submenu {
  display: block;
}

.submenu {
  list-style: none;
  padding: 0;
  position: absolute;
  display: none;
  left: 0;
  top: 100%;
  background-color: #c8e3d4;
  width: 100%;
  text-align: center;
}

.has-submenu .submenu li {
  padding: 8px 16px;
  font-size: 18px;
  display: block;
  width: 100%;
}
.has-submenu .submenu li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.has-submenu .submenu li a:hover {
  box-shadow: 0 2px black;
  transition: box-shadow 0.5s;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.container {
  margin: 0 auto;
}

.image-header {
  margin-top: 50px;
}
.image-header img {
  width: 100%;
}

.image-event img {
  margin-left: 20px;
  margin-top: 60px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.image-text {
  margin-top: 60px;
  margin-left: 30px;
}
.row .image-text .text h3 {
  font-weight: bold;
  font-size: 22px;
}

.row .image-text .text p {
  font-size: 20px;
  margin-top: 17px;
  margin-bottom: 17px;
}

button {
  height: 47px;
  width: 174px;
  display: inline;
  border: none;
  color: #fff;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 15px;
  cursor: pointer;
  font-family: "Montserrat-Medium";
  text-transform: uppercase;
  background: #84cde1;
  border-radius: 5px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

button:hover {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #17c8f8;
  color: white;
}
button:hover i {
  -webkit-animation-name: hvr-icon-buzz-out;
  animation-name: hvr-icon-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.menu {
  margin-top: 50px;
}
.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  margin-bottom: 50px;
}

.menu .box-container .box {
  background: #fff;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
}

.menu .box-container .box .image {
  height: 150px;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  position: relative;
}

.menu .box-container .box .image img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.menu .box-container .box .content {
  padding: 5px;
  padding-top: 0;
}

.menu .box-container .box .content h3 {
  font-size: 20px;
}

.menu .box-container .box .content p {
  font-size: 15px;
  padding: 10px 0;
  line-height: 1.5;
}

.menu .box-container .box .profile img {
  width: 50px;
  padding: 5px;
  padding-top: 0;
  width: 20%;
  float: left;
  margin-top: 5px;
}
.menu .box-container .box .profile .content_profile {
  padding: 5px;
  padding-top: 0;
  width: 60%;
  margin-top: 3px;
  float: left;
}
.menu .box-container .box .profile .content_profile .name {
  font-weight: bold;
  margin-bottom: 8px;
}
.xemthem {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.xemthem h3 {
  margin-bottom: 60px;
  font-weight: bold;
  text-decoration: underline;
}
