* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: #f7f7f7;
}

.header__menu {
  text-align: center;
  padding: 0 60px;
  height: 60px;
  background-color: #c8e3d4;
}

.header__menu ul li {
  padding-top: 10px;
  list-style: none;
  display: inline-block;
  margin-right: 80px;
  position: relative;
}

.header__menu ul li.active a:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.header__menu ul li:hover a:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.header__menu ul li:last-child {
  margin-right: 0;
}

.header__menu ul li a {
  font-size: 23px;
  color: black;
  display: block;
  position: relative;
  padding: 3px 0;
  text-decoration: none;
}
.header__menu ul li a span {
  font-weight: bold;
}

.header__menu ul li a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: black;
  content: "";
  -webkit-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

input[type="checkbox"] {
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  padding: 10px;
  margin-right: 10px;
}

.container-checkbox {
  margin-top: 50px;
  margin-left: 50px;
  float: left;
}

.checkbox0 {
  font-size: 22px;
  margin-bottom: 20px;
}
.checkbox1 {
  margin-left: 20px;
  font-size: 20px;
  margin-bottom: 15px;
}

.menu {
  margin-top: 50px;
}
.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  margin-bottom: 50px;
}

.menu .box-container .box {
  background: #fff;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
}

.menu .box-container .box .image {
  height: 150px;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  position: relative;
}

.menu .box-container .box .image img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.menu .box-container .box .content {
  padding: 5px;
  padding-top: 0;
}

.menu .box-container .box .content h3 {
  font-size: 20px;
}

.menu .box-container .box .content p {
  font-size: 15px;
  padding: 10px 0;
  line-height: 1.5;
}

.menu .box-container .box .profile img {
  padding: 5px;
  padding-top: 0;
  width: 50px;
  display: inline-block;
}
.menu .box-container .box .profile .content_profile {
  padding: 5px;
  padding-top: 0;
  display: inline-block;
}
.menu .box-container .box .profile .content_profile .name {
  font-weight: bold;
}

.xemthem {
  display: flex;
  justify-content: center;
}
.btn {
  margin-top: 16px;
  display: inline-block;
  font-size: 27px;
  color: black;
  background: #c0c0c0;
  border-radius: 8px;
  cursor: pointer;
  padding: 16px 48px;
  text-decoration: none;
}

.btn:hover {
  background: #808080;
  letter-spacing: 1.5px;
}

.xemthem {
  margin-left: 200px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.xemthem h3 {
  font-weight: bold;
  text-decoration: underline;
}
